.contact {
  font-family: myFont;
  background-image: linear-gradient(to right, #000b34, #0073a0);
  padding-bottom: 50px;
  .container {
    h1 {
      font-weight: 700;
    }
    h3 {
      padding-top: 50px;
      padding-bottom: 30px;
      color: white;
    }
    .submit {
      background-image: linear-gradient(to right, #000b34, #0073a0);
      color: whitesmoke;
      border-radius: 10px;
      box-shadow: 2px 2px 4px #000b34;
      border: none;
    }
    .submit:hover {
      background-image: linear-gradient(to right, #0073a0, #000b34);
    }
    .Info {
      padding-bottom: 25px;
      padding-top: 20px;
      color: black;
      border: none;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7);
    }
    .Info:focus {
      border-bottom: none;
      outline: none;
    }
    label {
      color: #939393;
      line-height: 1.6;
      display: inline-block;
      margin-bottom: 0.5rem;
    }
    .Message {
      padding-bottom: 120px;
      padding-top: 20px;
      color: black;
      border: none;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7);
    }
    h1 {
      color: whitesmoke;
      padding-top: 35px;
      text-align: center;
      margin-bottom: 50px;
    }
    .address {
      color: #96bb7c;
      margin-bottom: 25px;
      span {
        margin-right: 10px;
      }
    }
    .address-1 {
      color: #96bb7c;
      margin-bottom: 25px;
      span {
        margin-right: 10px;
      }
    }
    .address-2 {
      color: #96bb7c;
      margin-bottom: 25px;
      span {
        margin-right: 10px;
      }
    }
    .address-3 {
      color: #96bb7c;
      margin-bottom: 25px;
      span {
        margin-right: 10px;
      }
      a {
        text-decoration: none;
        color: #96bb7c;
      }
    }
  }
}
