.footer {
  font-family: myFont;
  background-image: linear-gradient(to right, #000b34, #0073a0);
  color: #888;
  font-size: 14px;
  border-top: 1px solid #0073a0;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  h4 {
    color: whitesmoke;
    margin-top: 10px;
  }
  p {
    font-size: 16px;
  }
  .Services {
    margin-left: 50px;
    p {
      font-size: 15px;
      margin-bottom: 9px;
    }
  }
  .copy {
    p {
      padding-top: 40px;
      text-align: center;
      color: whitesmoke;
      font-size: 17;
      font-weight: 500;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    .Services {
      margin-left: 0;
    }
  }
}
