.skill {
  font-family: myFont;
  background-image: linear-gradient(to right, #000b34, #0073a0);
  padding-bottom: 40px;
  border-bottom: 1px solid #0073a0;
  .container {
    a {
      background-image: linear-gradient(to right, #000b34, #0073a0);
      border-radius: 10px;
      font-weight: 700;
    }
    a:hover {
      background-image: linear-gradient(to right, #0073a0, #000b34);
    }
    h1 {
      font-weight: 700;
      color: whitesmoke;
    }
    .menu-item {
      .image {
        width: 100%;
        height: 200px;
        filter: saturate(2);
        box-shadow: 4px 4px 10px #000b34;
        transition: width 2s, height 2s, transform 2s;
        border-radius: 10px;
      }
      .image:hover {
        width: 98%;
        height: 185px;
      }
      .image1 {
        margin-top: 50px;
        width: 100%;
        height: 370px;
        filter: saturate(3);
        box-shadow: 4px 4px 10px #000b34;
        transition: width 2s, height 2s, transform 2s;
        border-radius: 10px;
      }
      .image1:hover {
        width: 98%;
        height: 350px;
      }
    }
    h2 {
      color: whitesmoke;
    }
    p {
      color: #939393;
      font-size: 17px;
    }
  }
}
