.background {
  font-family: myFont;
  .container {
    .navigation {
      z-index: 999;
      .menu-1 {
        color: whitesmoke;
        font-size: 18px;
      }
      .menu-1:hover {
        color: whitesmoke;
      }
      .menu-2 {
        color: whitesmoke;
        font-size: 20px;
      }
      .menu-2:hover {
        color: whitesmoke;
      }
    }
  }
}
