.background {
  font-family: myFont;
  .container {
    .github {
      color: green;
      font-size: 25px;
      background-color: transparent;
    }
    .menu-1 {
      color: #fff !important;
    }
  }
}
